.about-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem; /* espace entre image et texte */
}

.about-me {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.about-image-wrapper {
  width: 100%; /* s’adapte à la largeur du parent */
  height: 100%;
  max-width: 400px; /* limite max */
  overflow: hidden;
  position: relative;
  justify-content: center;
  display: flex;
}
.about-image {
  border-radius: 10%;
  border: solid 0.1rem #ffffff;
  width: 100%;
  height: 100%;
  object-fit: cover; /* crop sans déformer */
  display: block;
}

.about-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-left: 5rem;
}

.about-title {
  font-family: "compressa-micro";
  font-size: 3vw;
  color: #ffffff;
}

.about-description {
  font-family: "compressa-micro";
  font-size: 2vw;
  color: #ffffff;
  margin: 0;
}
