footer {
  z-index: 0;
  position: relative;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  margin-bottom: 5rem;
  display: flex;
  text-decoration: none;
}

.link-social a {
  display: flex;
  padding: 1rem;
}

li svg {
  width: 3rem;
  height: auto;
  display: block;

  color: var(--almostwhite);
}

.behance {
  padding-top: 0.6rem;
}

.instagram {
  padding-top: -3rem;
}

// .linkedin {
//   padding-top: 2rem;
// }
.linkedin svg {
  display: block;
  transform: translateY(-0.3rem);
}

.footer-socials ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10rem 2rem 2rem 2rem;

  li {
    list-style: none;
    display: flex;
  }

  .link-social {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      padding: 0.5rem;

      svg {
        width: 2.5rem;
        height: auto;
        display: block;
        color: var(--almostwhite);
        transition: transform 0.2s ease;
      }
    }
  }
}

.menu-socials ul li {
  opacity: 0.6;
}
// --------------------------- menu socials ---------------------------
.menu-socials ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 2rem 8rem 2rem;

  li {
    list-style: none;
    display: flex;
  }

  .link-social {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      padding: 0.5rem;

      svg {
        width: 2.5rem;
        height: auto;
        display: block;
        color: var(--almostwhite);
        transition: transform 0.2s ease;
      }
    }
  }
}

.menu-socials ul li {
  opacity: 0.6;
}
