/* -------------------------- section home -------------------------*/
section.home {
  padding-top: clamp(3rem, 3vw, 8rem);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.po-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: auto;
  max-width: 90rem;
  position: relative;
  margin: 0 auto;
}

#po-title,
.po-a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "compressa-micro";
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  user-select: none;
  margin: 0;
}

.po-qualifier-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

#po-qualifier {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: "roboto-flex";
  font-size: clamp(4rem, 10vw, 30rem);
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: 0;
  margin: 0;
}

.word {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.letter {
  display: inline-block;
  position: relative;
  // transform: rotateX(0deg);
  transform: translateZ(3rem);
  transform: rotateX(-90deg);
  transform-origin: 50% 50% 2.5rem;
  transform-style: preserve-3d;
  // transition: all 0.2s, opacity 0.2s ease;
  opacity: 0;
}

.letter.in {
  transform: rotateX(0deg) translateY(0);
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.letter.out {
  opacity: 0;
  transform: translateY(20rem) rotateX(90deg);
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: translateY(-8rem) translateZ(-2rem);
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@media (max-width: 600) {
  section.home {
    height: 20vh;
    padding-top: 12rem;
    margin-bottom: 5rem;
  }

  #po-qualifier {
    font-size: clamp(3rem, 10vw, 20rem);
    letter-spacing: 0.5rem;
  }
  .po-qualifier-wrapper {
    margin-bottom: 15rem;
  }
}
