

.chevron-button {
  position: relative;
  overflow: hidden;
  background: white;
  border: 2px solid var(--darkblue);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  width: 50rem;
  height: 20rem;
  border-radius: 20rem;
  border: 2rem solid var(--darkblue);
  cursor: pointer;
  font-family: "twk-super-italic";
  color: var(--darkblue);
  font-size: 5rem;
  overflow: hidden;
  margin: 4rem;
  cursor: pointer;
}

.button-text {
  position: relative;
  z-index: 1;
  margin: 2rem;

}

.chevron-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 160%;
  height: 100%;
  fill:var(--green);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.chevron-button:hover .chevron-svg {
  opacity: 1;
}

.chevron-button:hover .chevron-track{
  animation: slide-chevron 2s linear infinite;
}

@keyframes slide-chevron {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40px);
  }
}
