

.chevron-button {
  position: relative;
  overflow: hidden;
  background: var(--yellow);
  border: 2px solid var(--darkblue);
  padding: 1rem 2rem;
  width: 120rem;
  height: 40rem;
  border-radius: 20rem;
  border: 2.2rem solid var(--darkblue);
  cursor: pointer;
  font-family: "twk-super-italic";
  color: var(--darkblue);
  font-size: 13rem;
  overflow: hidden;
  margin: 4rem;
  cursor: pointer;
}

.chevron-button:hover {
  color: white;
  transition: all 0.5s ease-in-out;
  // transform: scaleX(1.02);

}

.collab-text {
  font-family: "twk-regular-italic";
  position: relative;
  font-size: 6rem;
  z-index: 1;
}
.button-text {
  font-family: "twk-super-italic";
  position: relative;
  z-index: 1;
}

.button-text:hover {
  transition: all 0.2s ease-in-out;
}

.button-text .char {
  display: inline-block;
  transition: transform 0.3s ease;
  will-change: transform;

}

.button-text .char:hover {
  animation: stretch-wriggle 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes stretch-wriggle {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scaleX(0.8) ;
  }
  // 60% {
  //   transform: scaleX(1.2) ;
  // }
  100% {
    transform: scale(1);
  }
}

.text-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 10rem;
  padding-bottom: 8rem;
}

.chevron-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 140%;
  height: 100%;
  fill:var(--darkgreen);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  pointer-events: none;
}


.chevron-button:hover .chevron-svg {
  opacity: 1;

}
.chevron-track {
  animation: slide-chevron 1s linear infinite;
  animation-play-state: paused;
}

.chevron-track.active {
  animation-play-state: running;
}

.chevron-button:hover .chevron-track{
  animation: slide-chevron 1s linear infinite;
  animation-play-state: running;
}

@keyframes slide-chevron {
  0% {
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0);
  }
}
