.footer ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 2rem;
  margin-bottom: 5rem;
  text-decoration: none;
}
li svg {
  width: 2rem;
  height: auto;
  color: var(--almostwhite);
}

.footer:hover .footer-link a {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

.footer.hovering .footer-link a:hover {
  opacity: 1;
}
