.tooltip-section {
  height: 100vh; /* cette section seule fait 100% écran */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 90rem;
  height: 100%;
}

.tooltip {
  position: relative;
  display: inline-block; /* ✅ c'est un bloc centré */
}

.tooltip__trigger {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.tooltip__base {
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.tooltip__shape {
  //shape that screens the tooltip text
  position: absolute;
  width: 100%; // helps the tooltip to be centered when using absolute positionning w/ left: 50% for the tooltip__base
  height: 100%;
  top: 0;
  left: 0;
  fill: var(--lightgreen);
}

.tooltip__content {
  //tooltip text
  color: #4a4a4a;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 65%;
  padding: 0 1em;
  opacity: 0;
  font-size: 0.85em;
}

.tooltip__trigger-text {
  font-size: 2rem;
  color: var(--almostgrey);
  font-family: compressa-micro;
}
