/* -------------------------- section about - TITLE -------------------------*/

.po-title-wrapper {
  margin: 20rem 0 10rem 0;
  background: red;
  align-items: center;
  justify-content: center;
  display: flex;
}

#po-title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "roboto-flex";
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  user-select: none;
}
