@use "_nav.scss" as *;
@use "./components/_buttons.scss" as *;

@font-face {
  font-family: "GoboldRegular";
  src: url(../fonts/gobold-regular.otf) format("truetype");
}
@font-face {
  font-family: "Oswald-light";
  src: url(../fonts/oswald-light.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald-xlight";
  src: url(../fonts/oswald-xlight.ttf) format("truetype");
}
@font-face {
  font-family: "twk-super-italic";
  src: url(../fonts/twkeverett-super-italic.otf) format("truetype");
}

@font-face {
  font-family: "twk-regular-italic";
  src: url(../fonts/twkeverett-regular-italic.otf) format("truetype");
}

@font-face {
  font-family: "twk-regular";
  src: url(../fonts/twkeverett-regular.otf) format("truetype");
}

@font-face {
  font-family: "roboto-flex";
  src: url(../fonts/roboto-flex.ttf) format("truetype");
}

/* importations */

* {
  box-sizing: border-box; /* Reset box-sizing to border-box meaning that it takes the border padding and so into the width and height */
}
:root {
  --grid-width: 1728px;
  --columns: 12;
  --gutter: 2.4rem;
  --margin: 9rem;
  --columns-width: calc(
    (var(--grid-width) - 2 * var(--margin) - 11 * var(--gutter)) / 12
  );
}

html,
body {
  --border-radius: 10rem;
  --almostwhite: rgb(255, 241, 241);
  --beige: #ffcdb2;
  --green: #ffb4a2;
  --pink: #e5989b;
  --brownred: #b5828c;
  --darkblue: #001c2c;
  --darkblue2: #316682;
  --othergreen: #598659;
  --othergrey: #a1a1a1;
  --yellow: #f9c74f;
  --lightgreen: #37e7a6;
  --lightblue: #90e0ef;
  --darkgreen: #0077b6;
  font-size: 62.5%; // allow to have the equivalence as 1rem = 10px
  margin: 0;
  padding: 0;
  background: var(--darkblue);
  color: white;
  padding-top: 6rem;
  font-family: "twk-super-italic";
}

h1 {
  font-size: 7rem;
  line-height: 1em;
  margin: 0px;
  font-family: "twk-super-italic";
}
h2 {
  font-size: 6rem;
  margin: 0px;
  letter-spacing: 0.05em;
  font-family: "twk-super-italic";
}
h3 {
  font-size: 5rem;
  letter-spacing: 0.05em;
  margin: 0px;
  font-family: "twk-super-italic";
  color: var(--almostwhite);
  padding: 1rem 0rem 2rem 3rem;
}

//allow to animate the title text
h3,
h1,
a.color,
span {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  span.random-letter {
    transition: color 0.3s ease;
    display: inline;
    cursor: default;
  }
}

p {
  font-family: "twk-regular";
  font-size: 3rem;
  color: white;
}

section {
  position: relative;
  display: flex;
  width: 100%;
}

section.sticky {
  position: sticky;
}

section.full-screen {
  height: 100vh;
  top: 0;
  margin-top: 3rem;
  z-index: 2;
}

/* -------------------------- section about -------------------------*/

section.about {
  // margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.about-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 4rem;
}
/* -------------------------- section about - TITLE -------------------------*/

.po-title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "roboto-flex";
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  user-select: none;
}

/* -------------------------- section skillset -------------------------*/
section.skillset {
  display: flex;
  justify-content: center;
  margin-bottom: 0.6rem; // allow to put a margin between the 2 row at 0.6 rem and the margin of the section as var(--margin)
}

.skillset-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 4rem;
}

.skillset-title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: var(--yellow);
  border-radius: var(--border-radius);
  font-family: "twk-super-italic";
  font-size: 2rem;
  padding: 8rem;
}

/* -------------------------- section Highlights -------------------------*/
section.highlights {
  display: flex;
  justify-content: center;
  // margin: 0 4rem;
}

.highlights-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 4rem;
}

.highlights-title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: var(--pink);
  border-radius: var(--border-radius);
  font-family: "twk-super-italic";
  font-size: 2rem;
  padding: 8rem;
}

/* -------------------------- section contact -------------------------*/
section.contact {
  align-items: center;
  justify-content: center;
  align-content: center;
  background: var(--lightblue);
  border: white solid 1rem;
  border-radius: var(--border-radius);
}
