@use "_nav.scss" as *;
@use "./components/_buttons.scss" as *;

@font-face {
  font-family: "GoboldRegular";
  src: url(../fonts/gobold-regular.otf) format("truetype");
}
@font-face {
  font-family: "Mermaid";
  src: url(../fonts/mermaid.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald-light";
  src: url(../fonts/oswald-light.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald-xlight";
  src: url(../fonts/oswald-xlight.ttf) format("truetype");
}
@font-face {
  font-family: "twk-super-italic";
  src: url(../fonts/twkeverett-super-italic.otf) format("truetype");
}

@font-face {
  font-family: "twk-regular-italic";
  src: url(../fonts/twkeverett-regular-italic.otf) format("truetype");
}
/* importations */

* {
  box-sizing: border-box; /* Reset box-sizing to border-box meaning that it takes the border padding and so into the width and height */
}

html,
body {
  --border-radius: 100px;
  --beige: #ffcdb2;
  --green: #ffb4a2;
  --pink: #e5989b;
  --grey: #b5828c;
  --darkblue: #001c2c;
  --othergreen: #598659;
  --othergrey: #a1a1a1;
  --yellow: #f9c74f;
  --lightgreen: #37e7a6;
  --lightblue: #90e0ef;
  --darkgreen: #0077b6;
  --gutter: 3.125vw 6.25vw;
  font-size: 62.5%; // allow to have the equivalence as 1rem = 10px
  margin: 0;
  padding: 0;
  background: #316682;
  color: white;
  padding-top: 3rem;
  // font-family: "Syne", sans-serif;
  font-family: "Mermaid";
}

// .wrapper {
//   padding-top: 5rem;
// }

h1 {
  font-size: 70px;
  line-height: 1em;
  margin: 0px;
  font-family: "twk-super-italic";
}
h2 {
  font-size: 60px;
  margin: 0px;
  letter-spacing: 0.05em;
  font-family: "twk-super-italic";
}
h3 {
  font-size: 50px;
  letter-spacing: 0.05em;
  margin: 0px;
  font-family: "twk-super-italic";
  color: var(--beige);
  padding: 1rem 0rem 2rem 3rem;
}

//allow to animate the title text
h3,
h1,
a.color {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  span.random-letter {
    transition: color 0.3s ease;
    display: inline;
    cursor: default;
  }
}

@keyframes waveline {
  to {
    background-position: -150px;
  }
}

p {
  font-family: "Oswald-xlight";
  font-size: 3rem;
}

section {
  position: relative;
  display: flex;
  width: 100%;
  top: 1.4rem;
  z-index: 2;
  padding: 0.5rem;
}

section.sticky {
  position: sticky;
}

section.full-screen {
  height: 100vh;
  top: 0;
  margin-top: 0;
  z-index: 3;
}

/* section about */

section.about {
  display: flex;
}

section.about .empty {
  flex-basis: 37.5vw;
  background: var(--grey);
  border-radius: var(--border-radius);
  transition: flex-basis 1s cubic-bezier(0, 0.9, 0.4, 0.99);
  margin: 1rem 1rem 0rem 1rem;
  min-width: 15vw;
}

section.about article {
  flex: 1;
  display: flex;
  flex-direction: column;
}
section.about article .title {
  flex: 1;
  display: flex;
  align-items: flex-end;
  background: var(--beige);
  border-radius: var(--border-radius);
  padding: var(--gutter);
  margin: 1rem 1rem 1rem 0rem;
  transition: flex-basis 1s cubic-bezier(0, 0.9, 0.4, 0.99);
}
section.about article .description {
  flex: 1;
  display: flex;
  align-items: center;
  background: var(--pink);
  border-radius: var(--border-radius);
  padding: 3.25vw;
  margin: 0rem 1rem 0rem 0rem;

  // margin: 0rem 1rem;

  color: #000000;
}

/* section contact */
section.contact {
  align-items: center;
  justify-content: center;
  align-content: center;
  background: var(--lightblue);
  border: white solid 1rem;
  border-radius: var(--border-radius);
}

/* responsive */

@media only screen and (max-width: 768px) {
  html,
  body {
    border-radius: 50px;
    --gutter: 6.25vw;
  }

  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  nav ul li {
    margin-left: 25px;
  }

  section.service article {
    flex-direction: column;
  }
  section.service figure {
    flex-basis: 25vh;
    margin: 0;
    border-radius: var(--border-radius);
  }
  section.service figure img {
    width: 25vh;
  }

  section.contact a {
    font-size: 50px;
    transform: rotate(90deg);
  }
}
