section#projects {
  scroll-margin-top: 8rem;
  width: 100%;
  display: flex;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects-section-title {
  display: flex;
  font-family: "Compressa-micro";
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: clamp(5rem, 5vw, 10rem);
  font-variation-settings: "wght" 300, "wdth" 100, "ital" 1;
}

ul#accordion {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  padding-inline-start: 0;
  align-items: stretch;
  height: auto;
  transition: width 0.65s cubic-bezier(0.37, 0.07, 0.02, 1.01) 0.08s,
    min-height 0.65s cubic-bezier(0.37, 0.07, 0.02, 1.01) 0.08s;
  overflow: hidden;
}

ul#accordion li {
  list-style: square;
  margin: 0;
}

.projects-respo-wrapper {
  width: 100%;
  white-space: nowrap;
  max-width: 150ch;
}

.accordion-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding-inline: clamp(5rem, 8vw, 20rem);
  width: 100%;
}

.role-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul#accordion li.accordion-item {
  position: relative;
  align-self: stretch;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  height: clamp(100rem, 120vh, 300rem);
  background-color: rgba(255, 255, 255, 0.05);
  transition: width 0.65s cubic-bezier(0.37, 0.07, 0.02, 1.01) 0.08s,
    max-height 0.65s cubic-bezier(0.37, 0.07, 0.02, 1.01) 0.08s;
  overflow: hidden;
}

ul#accordion li:nth-child(even) {
  background-color: transparent;
}

.projects-date {
  text-align: center;
  font-family: "Compressa-micro";
  font-variation-settings: "wght" 300, "wdth" 5, "ital" 1;
  text-rendering: optimizeSpeed;
  font-size: clamp(2rem, 2vw, 5rem);
  line-height: 1.2em;
  letter-spacing: 0.05em;
  transition: font-size 0.65s cubic-bezier(0.37, 0.07, 0.02, 1.01) 0.08s,
    font-variation-settings 0.65s cubic-bezier(0.37, 0.07, 0.02, 1.01) 0.08s;
}

p.projects-respo {
  font-family: "Compressa-micro";
  font-variation-settings: "wght" 150, "wdth" 150, "ital" 1;
  text-rendering: optimizeSpeed;
  will-change: transform, opacity;
  letter-spacing: 0.05em;
  opacity: 0;
  transform: translateY(2rem);
  transition: font-size 0.5s ease, opacity 0.5s ease, transform 0.6s ease;
  padding-left: 2rem;
  padding-bottom: 0.2rem;
  font-size: clamp(2rem, 2vw, 3rem);
}

p.projects-respo-item {
  font-variation-settings: "wght" 150, "wdth" 150, "ital" 1;
  padding-left: 5rem;
  max-width: 250ch;
  white-space: normal;
  opacity: 0;
  line-height: 4rem;
  font-size: clamp(2rem, 2vw, 3rem);
  &::before {
    content: "◆";
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 2rem;
    font-size: clamp(1rem, 1.5vw, 2rem);
  }
}

ul.accordion.project-all-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-left: clamp(5rem, 10vw, 20rem);
  width: 100%;
}

.projects-title,
.role {
  font-family: "Compressa-micro";
  font-variation-settings: "wght" 800, "wdth" 100, "ital" 1;
  text-rendering: optimizeSpeed;
  font-size: 1vw;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  opacity: 0;
  transition: font-size 0.5s ease, opacity 0.5s ease, transform 0.6s ease;
}

ul#accordion.projects-context,
ul#accordion .projects-stack {
  font-family: "Compressa-micro";
  font-variation-settings: "wght" 300, "wdth" 100, "ital" 1;
  text-rendering: optimizeSpeed;
  font-size: 0vw;
  transition: font-size 0.5s ease, opacity 0.5s ease, transform 0.6s ease;
  line-height: 1.2em;
  letter-spacing: 0.05em;
}

ul#accordion .heading4-respo {
  font-family: "Compressa-micro";
  font-variation-settings: "wght" 500, "wdth" 100, "ital" 1;
  text-rendering: optimizeSpeed;
  letter-spacing: 0.05em;
  margin: 0;
  padding-top: 2rem;
  font-size: 2vw;
  padding-left: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.6s ease, font-size 0.5s ease;
  pointer-events: none;
}

// HOVER EFFECTS to make appear all the content of the accordion
ul#accordion li:hover {
  .accordion-content,
  .projects-context,
  p.projects-respo,
  .projects-title,
  .heading4-respo,
  .projects-respo-item,
  .role {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: opacity 1.2s ease, transform 0.6s ease;
  }
}

ul#accordion li:hover .projects-title {
  font-size: 2vw;
  text-align: center;
  padding-bottom: clamp(4rem, 5vw, 8rem);
}

ul#accordion li:hover .projects-context {
  font-size: 1vw;
}

ul#accordion li:hover .role {
  font-size: 3vw;
  transition: font-size 0.5s ease, opacity 0.5s ease, transform 0.6s ease;
  text-align: center;
}

ul#accordion li:hover .heading4-respo {
  font-size: 2vw;
  transition: font-size 0.5s ease, opacity 0.5s ease, transform 0.6s ease;
}

ul#accordion li:hover {
  width: 600%;
  pointer-events: auto;
  cursor: default;
}

//allow to hide the text when not hovered and only showing the one hovered
ul#accordion li.accordion-item:hover .projects-date {
  font-variation-settings: "wght" 800, "wdth" 1, "ital" 1;
  font-size: 8vw;
}

ul#accordion:hover li.accordion-item:not(:hover) h3 {
  font-variation-settings: "wght" 100, "wdth" 5, "ital" 1;
  font-size: 1vw;
  text-align: center;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

//RESPONSIVE
// ------------------------------------------------------------

@media (max-width: 600px) {
  .accordion-content {
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    padding: 0 3rem;

    width: 100%;
  }
  .projects-date {
    font-size: 5rem !important;
  }

  li.accordion-item .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }
  li.accordion-item.open .accordion-content {
    max-height: 2500rem;
    pointer-events: auto;
    padding-bottom: 5rem;
  }

  ul#accordion {
    flex-direction: column !important;
    align-items: stretch !important;
    flex-wrap: nowrap !important;
    overflow: visible;
    min-height: auto;
  }
  ul#accordion li {
    line-height: 4rem;
  }
  ul#accordion li.accordion-item {
    width: 100% !important;
    height: auto !important;
    pointer-events: auto;
  }

  ul#accordion li:hover {
    width: 100% !important;
    cursor: default;
  }

  .role {
    overflow: visible;
    line-height: 1.3em;
    padding-top: 1.5rem;
  }

  ul#accordion li.open .projects-title,
  ul#accordion li.open .projects-context,
  ul#accordion li.open .projects-respo,
  ul#accordion li.open .role,
  ul#accordion li.open .heading4-respo {
    font-size: 1.6rem !important;
    opacity: 1;
    pointer-events: auto;
  }
  .accordion-inner {
    width: 100% !important;
    box-sizing: border-box;
  }
}
