/* importations */
@use "components/_nav.scss" as *;
@use "./components/_buttons.scss" as *;
@use "./components/_footer-and-menu-social.scss" as *;
@use "./components/_about.scss" as *;
@use "./components/_nav-transition.scss" as *;
@use "./components/_tooltip.scss" as *;
@use "./components/_welcome.scss" as *;
@use "./components/_home.scss" as *;
@use "./projects.scss" as *;
@use "./base.scss" as *;
@use "./variable.scss" as *;
@use "./mixins.scss" as *;

/* -------------------------- section about -------------------------*/
section.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 80%;
}

/* -------------------------- section skillset -------------------------*/
section.skillset {
  display: flex;
  justify-content: center;
  margin-bottom: 0.6rem; // allow to put a margin between the 2 row at 0.6 rem and the margin of the section as var(--margin)
}

.skillset-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 4rem;
}

.skillset-title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: var(--yellow);
  border-radius: var(--border-radius);
  font-family: "compressa-micro";
  font-size: 2rem;
  padding: 8rem;
}
/* -------------------------- section contact -------------------------*/
section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
