/* importations */
@use "components/_nav.scss" as *;
@use "./components/_buttons.scss" as *;
@use "./components/_footer-and-menu-social.scss" as *;
@use "./components/_about.scss" as *;
@use "./components/_nav-transition.scss" as *;
@use "./components/_tooltip.scss" as *;
@use "./components/_welcome.scss" as *;
@use "./components/_home.scss" as *;
@use "./projects.scss" as *;
@use "./base.scss" as *;
@use "./variable.scss" as *;
@use "./mixins.scss" as *;

/* -------------------------- section about -------------------------*/

.about-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 80%;
}

/* -------------------------- section contact -------------------------*/
section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
